/* -- custom css for file index.html -- */

/* -- title -- */
#title-o-1008 {
	left: 0px;
}

html, body, iframe {
	height:100vh;
	z-index:999999;
	}
iframe {
	overflow:hidden;
	display:block;
	width:100%;
	min-width:100%;
	max-width:100%;
	}

    
